---

---

<section class="py-32 grid md:grid-cols-12 gap-3">
  <div class="md:col-span-5 flex items-end">
    <h1 class="text-5xl font-semibold leading-none w-1/2">Otras soluciones</h1>
  </div>

  <div class="md:col-span-4">
    <img src="/images/other-1.png" class="w-full" />
  </div>

  <div class="md:col-span-3 bg-faded-black row-span-2 rounded-lg p-6 text-white flex flex-col justify-between items-start md:mt-16">
    <div>Icons</div>
    <p class="text-lg">
      Sirve tanto para hospitales, puertos, oficinas y edificios como casas.
    </p>
  </div>

  <div class="md:col-span-5 bg-selfia-green/30 rounded-lg">
    <p class="px-6 py-9 text-lg">
      durabilidad (pag 24) remote locations extreme weather conditions remote
      access in real time through SMS phone registration accesible y facil
      instalacion
    </p>
  </div>

  <div class="md:col-span-4 md:grid place-content-center hidden">
    <p class="text-8xl font-semibold">Selfia</p>
  </div>

  <div class="md:col-span-5">
    <img src="/images/other-2.png" class="w-full" />
  </div>

  <div class="md:col-span-4 bg-selfia-green/30 rounded-lg"></div>

  <div class="md:col-span-3 bg-faded-black/5 px-6 py-9 rounded-lg">
    <p class="text-xl font-semibold w-1/2">Logistica simplificada</p>
    <p class="mt-4 text-lg">
      Con un servicio de seguridad escalable, podras manejar multiples puntos de
      acceso desde una plataforma en la nube segura muy facil de usar.
    </p>
  </div>
</section>
