---
import { Building, Home, Hospital } from "lucide-react";
---

<section class="py-32 grid md:grid-cols-12 gap-3">
  <div class="md:col-span-5 flex items-end">
    <h1 class="text-5xl md:text-[4rem] font-semibold leading-none w-1/2">
      Otras soluciones
    </h1>
  </div>

  <div class="md:col-span-4">
    <img src="/images/other/gaming.jpg" class="w-full rounded-xl" alt="Kiosko Selfia para gaming" />
  </div>

  <div
    class="md:col-span-3 bg-faded-black row-span-2 rounded-xl p-6 text-white flex flex-col justify-between items-start md:mt-16"
  >
    <div class="flex gap-4">
      <a target="_blank" href="https://www.iloq.com/es/soluciones/propiedad-residencial/" aria-label="Cerraduras residenciales"> <Home className="size-8 hover:scale-125 transition-transform" /></a>
      <a target="_blank" href="https://www.iloq.com/es/soluciones/oficinas/" aria-label="Cerraduras para oficinas"><Building className="size-8 hover:scale-125 transition-transform" /></a>
      <a target="_blank" href="https://www.iloq.com/es/soluciones/cerraduras-electronicas-hospitales/" aria-label="Cerraduras para hospitales"><Hospital className="size-8 hover:scale-125 transition-transform" /></a>
    </div>
    <p class="text-balance">
      Las cerraduras iLOQ sirven tanto para hospitales, puertos, oficinas y
      edificios, como casas o departamentos.
    </p>
  </div>

  <div class="md:col-span-5 bg-selfia-green/30 rounded-xl grid place-content-center">
    <p class="px-6 py-9 text-lg text-center">
      En Selfia, no solo ofrecemos seguridad fisica junto a iLOQ, sino tambien
      garantizamos seguridad en los tramites de tus clientes o hasta actividades
      recreativas.
    </p>
  </div>

  <div class="md:col-span-4 md:grid place-content-center hidden">
    <img class="p-16" src="/logos/logo-selfia-black.png" alt="Selfia logo"/>
  </div>

  <div class="md:col-span-5">
    <img src="/images/other/atms.jpg" class="w-full rounded-xl" alt="Kiosko Selfia ATM para bancos"/>
  </div>

  <div class="md:col-span-4 bg-selfia-green/30 rounded-xl">
    <img src="/images/other/other.jpg" class="w-full h-full object-cover rounded-xl" alt="Kiosko Selfia aeroportuario"/>
  </div>

  <div class="md:col-span-3 bg-faded-black/5 px-6 py-9 rounded-xl grid place-content-center">
    <p class="text-xl font-semibold">
      Logistica simplificada en productos iLOQ
    </p>
    <p class="mt-4 text-balance">
      Con un servicio de seguridad escalable, podras manejar multiples puntos de
      acceso desde una plataforma en la nube segura muy facil de usar.
    </p>
  </div>
</section>
