---
import SustIcons from "../other/sust-icons";
---

<section id="sust" class="md:py-32 grid md:grid-cols-12 gap-5 bg-dots-fade">
  <div class="md:col-span-5 flex flex-col justify-between">
    <div>
      <h1 class="text-5xl md:text-[4rem] leading-none tracking-tighter font-semibold mb-2">
        Lideres en sustentabilidad
      </h1>
      <p class="text-balance md:text-lg text-lg">
        Salvando el planeta con nuestras cerraduras que no tienen baterias de
        litio.
      </p>
    </div>
    <SustIcons />
  </div>
  <div class="md:col-span-5 md:col-start-8">
    <img src="/images/sust-1.png" class="w-full" />
    <p class="mt-2 text-lg md:text-lg">
      Liderando el camino en sustentabilidad: ahorros anuales gracias a la
      tecnología sin baterías de iLOQ.
    </p>
  </div>
</section>
