---
---

<section class="flex flex-col gap-16 py-16 md:py-0">
    <h1
      class="md:text-[4rem] text-5xl font-bold leading-none tracking-tighter text-balance"
    >
      Tecnología de vanguardia en cerraduras electrónicas.
    </h1>
    <div class="w-full flex flex-col md:flex-row gap-4 h-full">
      <aside class="relative bg-blue-950 w-full aspect-square rounded-xl group overflow-clip">
        <img
          src="/images/s5.jpg"
          class="object-cover h-full w-full rounded-xl brightness-50 transition-transform duration-300 ease-in-out group-hover:scale-105"
        />
        <div class="absolute bottom-8 left-8">
          <p class="text-white md:text-3xl font-semibold max-w-[80%] mb-8">
            Cilindros electronicos alimentados mediante la insercion de la llave
          </p>
          <a
            href="https://www.iloq.com/es/solucion-de-cilindro-digital-iloq-s5/"
            target="_blank"
            class="text-black bg-white px-8 py-4 rounded-full hover:underline"
            >Leer más sobre iLOQ S5</a
          >
        </div>
      </aside>
      <aside class="relative bg-sky-950 w-full aspect-square rounded-xl group overflow-clip">
        <img
          src="/images/s50.jpg"
          class="object-cover h-full w-full rounded-xl brightness-75 transition-transform duration-300 ease-in-out group-hover:scale-105"
        />
        <div class="absolute bottom-8 left-8">
          <p class="text-white md:text-3xl font-semibold max-w-[80%] mb-8">
            Cilindros electronicos de apertura con NFC del telefono movil
          </p>
          <a
            href="https://www.iloq.com/es/tecnologia/cerraduras-autoalimentadas-nfc-s50/"
            target="_blank"
            class="text-black bg-white px-8 py-4 rounded-full hover:underline"
            >Leer más sobre iLOQ S50</a
          >
        </div>
      </aside>
    </div>
  </section>
  
