---
import Layout from '../layouts/Layout.astro';
import Container from '../components/ui/container'
---

<Layout title="Selfia">
	<main>
		<Container>
			<h1>Selfia</h1>
		</Container>
	</main>
</Layout>	
