---
import Layout from "../layouts/Layout.astro";
import Container from "../components/ui/container";
import Hero from "../components/sections/hero";
import OtherSolutions from "../components/sections/other-solutions.astro";
import Sustainable from "../components/sections/sustainable.astro";
import About from "../components/sections/about";
import S5Iloq from "../components/sections/s5Iloq";
import Solutions from "../components/sections/solutions";
import Contact from "../components/sections/contact";
import Vanguard from "../components/sections/vanguard.astro"
---

<Layout title="Selfia">
	<main class="min-h-svh bg-faded-white">
		<Container>
			<Hero client:only="react" />
			<About client:only="react"/>
			<Solutions />
			<!-- <S5Iloq /> -->
			<OtherSolutions />
			<Vanguard />
			<Sustainable />
			<Contact />
		</Container>
	</main>
</Layout>
