---
import Layout from "../layouts/Layout.astro";
import Container from "../components/ui/container";
import Hero from "../components/sections/hero";
import OtherSolutions from "../components/sections/other-solutions.astro";
import Sustainable from "../components/sections/sustainable.astro";
import About from "../components/sections/about";
import S5Iloq from "../components/sections/s5Iloq";
---

<Layout title="Selfia">
	<main class="py-24 min-h-svh bg-faded-white">
		<Container>
			<Hero client:only="react" />
			<About />
			<S5Iloq />
			<OtherSolutions />
			<Sustainable />
		</Container>
	</main>
</Layout>
