---
import Layout from '../layouts/Layout.astro';
import Container from '../components/ui/container'
import Hero from '../components/sections/hero'
---

<Layout title="Selfia">
	<main class="py-24 min-h-svh bg-faded-white">
		<Container>
			<Hero client:only="react"/>
		</Container>
	</main>
</Layout>	
